:root {
    /*colors*/
    --color-text: #f4772a;
    --color-base: #c4c4c499;
    --color-primary:#acbfa4;
    --color-secondary:#177e89e6;
    --color-section:#414141;
    --color-article: #414141cc;

    /*spacing*/
    --spacing-xsmall: 1rem;
    --spacing-small: 1.5rem;
    --spacing-medium: 2rem;
    --spacing-large: 3rem;

    /*font-family*/
    --font-principal: 'Signika', sans-serif ;    
    --font-secondary: 'Times New Roman', Times, serif;
    --font-h1: 'Acme', sans-serif;

    /*font-size*/
    --text-large: 4.8em;
    --text-medium: 3.2em;   
    --text-base: 1.8em;
    --text-small: 1.4em;
    --text-xsmall: 1em

}
/*normalize*/

*{
    margin: 0;
    padding: 0;
    
}
html{
    font-size: 62.5%;
}
/*style-body*/
body{
    font-family: var(--font-principal);
    font-variant: small-caps;
    
}
/*style-header*/
header{
    
    background-image: url(../multimedia/fondo_header1.svg);
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

          
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__logo{
    width: 20%;
    margin: 1rem;
}
.header__social{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: var(--spacing-small);
    flex-basis: 20%; 
}    
.header__ig{
    animation: jello-horizontal 0.9s 1.2s both;
}
.header__wapp{
    animation: jello-horizontal 0.9s 1.2s both;
}
.hamburger{
    display: none;
}
#hamburger{
    display: none;
} 
.menu{
    margin-top: var(--spacing-xsmall);
    
    background: var(--section);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}
a{
    text-decoration: none;
    background: transparent;
    color: var(--color-text);
}
.menu__li{
    font-size: var(--text-medium);     
    list-style-type: none;
    transition: all .2s ease-in-out;
}
.menu__li:hover{
    font-size: 3.6em;
    letter-spacing: 0.1rem;
    border-left: #F4772A;
    border-right: #F4772A;
    border-left-style: inset;
    border-right-style: inset;
    padding: 0 .5rem;
}

/*fin-header*/
/*inicio-main*/
.principal{
    /*background-image: url(../multimedia/main3.jpg);*/
    background-image: url(../multimedia/low-poly-grid-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    color: var(--color-secondary);
    font-weight: bolder;
    font-size: var(--text-large);
    text-align: center;
    font-family: var(--font-h1);
    padding: var(--spacing-large);
    text-shadow: 5px 5px 10px var(--color-article);
    animation: tracking-in-contract .8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
    

}
h2{
    text-decoration-line: underline;
    padding-bottom: var(--spacing-small);
}
h4{
    text-decoration-line: underline;
}
span{
    color: var(--color-text);
}
.button{
    background-color: #414141;
    font-size: var(--text-xsmall);
    padding: 0.5rem ;
    margin: var(--spacing-xsmall);
    border-radius: 12px;
    border: 2px solid #F4772A;
    color: #c4c4c4;
    float: right;   
}
/*fin-main*/


/*inicio-footer*/
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 19rem;
    background-color: var(--color-section);
       
}
.footer__nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
}
.footer__nav li{    
    font-size: var(--text-base);
    text-decoration:1px underline  var(grey);
    transition: all .1s;
}
.footer__nav li:hover{
    text-decoration:1px underline #F4772A;
}
.footer__marca{
    width: 30%;
}
.copyright{
    height: 1rem;
    background-color: var(--color-section);
    color: var(--color-primary);
    font-family: var(--font-secondary);
    animation: traslate 15s infinite ease-in-out  0s ;
    overflow: hidden;
}

/*final-footer*/


/*style-index*/
.principal__index{
    display: grid;
    grid-template-areas:
     "saludo saludo"
     "productos tester"
     "stars stars";
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 2fr 5fr 1fr;
    column-gap: var(--spacing-large);
    row-gap: var(--spacing-medium);
    padding: var(--spacing-small);
    
    
    
}
.saludo{
    grid-area: saludo;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:var(--spacing-small);
    border-radius: 12px;
    border: var(--color-text) 2pt solid;
  
}
.saludo__title{
    color: var(--color-primary);
}
.saludo__content{
    font-size: var(--text-medium);
    color: var(--color-primary);
}    
.index__title{
    font-size: var(--text-medium);
     
}
.index__productos{
    grid-area: productos;
    background-color: var(--color-article);
    padding: var(--spacing-xsmall);
    border-radius: 12px;
    border: var(--color-text) 2pt solid;
    

}
.index__tester{
    grid-area: tester;
    background-color: var(--color-article);
    padding: var(--spacing-xsmall);
    border-radius: 12px;
    border: var(--color-text) 2pt solid;
}
.index__productos__title{
    text-decoration: none;
    color: #F4772A;
}
.index__productos__art{
    background-color: var(--color-secondary) ;
   
    border-radius: 12px;
    border: var(--color-text) 2pt solid;   
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--spacing-xsmall);
    margin: var(--spacing-xsmall);
}
.index__productos img{
    width: 15rem;
    margin-right: var(--spacing-xsmall);
    padding: .5rem 2rem;
    
}
.index__productos__art__title{
    font-size: var(--text-base);
    color: var(--color-primary);  
}
.index__tester__art{
    background-color: var(--color-secondary) ;
    padding: var(--spacing-xsmall);
    border-radius: 12px;
    border: var(--color-text) 2pt solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;

}
.index__tester img{
    width: 25rem;
    height: 20rem;
    margin-right: var(--spacing-xsmall);
}
.index__tester__art__title{
    font-size: var(--text-base);
    color: var(--color-primary);
}

.stars{
    grid-area: stars;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: var(--spacing-xsmall);
    border-radius: 12px;
    border: var(--color-text) 2pt solid;
    

}
.stars h2{
    font-size: var(--text-small);
}
.stars__img{
   height: 8rem;
    
}
/*final-index*/


/*estilo-contacto*/
.contacto{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: var(--spacing-large);
    
}
.contacto article{

    background-color: var(--color-secondary);
    padding: var(--spacing-xsmall);
    border-radius: 12px;
    border: var(--color-text) 2pt solid;
    color: var(--color-primary);
    font-size: var(--text-medium);
    
}

.contacto__info h3{
    margin: var(--spacing-medium);
    color: var(--color-base);
    text-decoration: underline;
}
.contacto__info p{
    margin: var(--spacing-medium) var(--spacing-large);
    
}
form{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 60rem;
   
}
.form__item{
    padding: var(--spacing-xsmall) ;
    margin: var(--spacing-small);
    background-color: var(--color-secondary);
    border: #F4772A 2pt solid;
    border-radius: 12px;
    color: var(--color-primary);
}
.form__item:nth-of-type(1){
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}
.form__item:nth-of-type(2){
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}
.form__item:nth-of-type(3){
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}
form label{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    color: var(--color-primary);
    font-size: var(--text-xsmall)
}
.consulta__option{
    color: var(--color-text);
    font-size: var(--text-xsmall);
    font-family: var(--font-principal);
}

#tipo_consulta{
    grid-column: 3 / 5;
    grid-row: 4 / 5;
    background-color: var(--color-secondary);
    border: #F4772A 2pt solid;
    border-radius: 12px;
    color: var(--color-text);
    font-size: 0.5em; 
    font-family: 'Signika', sans-serif;
}
#message{
    grid-column: 1 / 5;
    grid-row: 5 / 12;
    margin-top: var(--spacing-small);
    background-color: var(--color-secondary);
    border: #F4772A 2pt solid;
    border-radius: 12px;
    color: var(--color-text);
}
::placeholder{
   padding: var(--spacing-xsmall); 
   color: var(--color-primary);
   font-size: var(--text-xsmall);
   font-family: var(--font-principal); 
}
form input{
    grid-column: 4 / 5;
    grid-row: 12 / 13;

}
/*final-estilo-contacto*/


/*estilo-preguntas*/

.preguntas{
    display: grid;
    grid-template-areas: 
     "titulo titulo titulo"
     "compra compra talles"
     "pagos envio talles"
     "cambios cambios talles" 
     "cambios cambios talles"
}

.preguntas h1{
    grid-area: titulo;
}
.preguntas__compra{
    grid-area: compra;    
}
.preguntas__pagos{
    grid-area: pagos;
}
.preguntas__talles{ 
    grid-area: talles;
}
.preguntas__envio{
    grid-area: envio;
}
.preguntas__cambios{
    grid-area: cambios;
}
.preguntas article{
    
    background-color: var(--color-secondary);
    padding: var(--spacing-medium);
    margin: var(--spacing-small);
    border-radius: 12px;
    border: var(--color-text) 2pt solid;
    color: var(--color-primary);
    font-size: var(--text-base);
  
}
.talles{
       
    overflow: auto;
    max-height: 80rem;
}
.tabla{
    height: 35rem ;
    width: 35rem;   
}
/*final-estilo-preguntas*/


/*estilo-productos*/
.productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.calzado{
    background-color: var(--color-secondary);
    padding: var(--spacing-xsmall);
    margin: var(--spacing-xsmall);
    border-radius: 12px;
    border: var(--color-text) 2pt solid;
    color: var(--color-primary);
    font-size: var(--text-base);
    animation: fade-in-bottom 1s 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}   
.calzado_img{
    display: flex;
    overflow: auto;
    gap: var(--spacing-xsmall);
    margin-left: var(--spacing-medium);
    /*margin-bottom: var(--spacing-small);*/
    max-width: 35rem;
}
.calzado_img li{
    list-style: none;
}
li img{
    width: 35rem;
    height: 32rem;
    
}    
.calzado h2 {
    font-weight: bolder;
    font-style: italic;
    text-decoration-line: underline;
    margin-bottom: var(--spacing-xsmall);
}  
.calzado H3{
    font-style: italic;
    text-decoration-line: underline;
    margin-bottom: var(--spacing-xsmall);
}  
.calzado__li{
    margin-left: var(--spacing-small);
    list-style-type: circle; 
}   
/*final-estilo-productos*/


/*estilo-tester*/
.shoetester{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);   
}
#tester{
    grid-column: 1/6;
}
.tester{
    display: flex;
    flex-direction: row;    
    padding: var(--spacing-xsmall);
    margin: var(--spacing-small);
    background-color: var(--color-secondary);
    border-radius: 12px;
    border: var(--color-text) 2pt solid;
}
.tester:nth-of-type(1){
    grid-column:2 / 56 ;
}    
.tester:nth-of-type(2){
    grid-column: 1 / 5;
}    
.tester:nth-of-type(3){
    grid-column:2 / 6 ;
}    
.tester:nth-of-type(4){
    grid-column: 1 / 5;
}    
.tester:nth-of-type(5){
    grid-column: 2 / 6;
}    
.tester:nth-of-type(6){
    grid-column: 1/5;
}    
.tester:nth-of-type(7){
    grid-column: 2/6;
}    
.tester__iframe{
    padding: var(--spacing-small);
}
.tester__content{
    padding: var(--spacing-small);
    line-height : 1.7;
    color: var(--color-primary);
    font-size: var(--text-small);
}
.tester__content h2{
    text-decoration-line: underline;
    font-weight: bolder;
    
}
/*final-estilo-productos*/


@media screen and (max-width: 1024px) {
    body{
        font-size: .8em;
        
    }
    
    /*index*/
    .principal__index{
        display: block;
        padding-bottom: var(--spacing-medium);
    } 
    .index__productos{
        margin-bottom: var(--spacing-small);
        padding-bottom: var(--spacing-small);
    } 
    .index__productos a{
        display: none;
    } 
    .index__tes a{
        display: none;
    }
    .stars__img{
        height: 6rem;
    }
    /*productos*/
    .productos{
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }
      
}



/*tablet*/

@media screen and (max-width: 768px) {
    /*header*/
    .header__social{
        display: none;
    }
/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#hamnav {
    width: 100%;
    background: var(--color-article);
    /*position: absolute;*/
  }
  
  /* (B) HORIZONTAL MENU ITEMS */
 .menu {
    display: flex;
    flex-direction: column;

  }
  .menu__li {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover {
    background: var(--color-text);
  }
  .menu
  /* (C) HIDE HAMBURGER */
  #hamnav label,
  #hamburger {
    display: none;
  }
  
  
  
    /* (A) BREAK INTO VERTICAL MENU */
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid ;
    }
  
    /* (B) SHOW HAMBURGER ICON */
    #hamnav label {
      display: inline-block;
     
      background: var(--color-text);
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems {
      display: none;
    }
    #hamnav input:checked ~ #hamitems {
      display: block;
    }
   
  
    /*index*/
    .index__productos__art{
        display: block
    }
    .index__tester__art{
        display: block
    }
    .button{
        float: none;
    }
    .stars{
       display:none; 

    }
    
    /*contacto*/
    .contacto{
        
        justify-content: space-around;       
        padding: var(--spacing-medium);
        
    }
    .contacto article{
        margin-top: var(--spacing-small);
        
        
    }    
    .contacto__info h3{
        margin: var(--spacing-medium);
        font-size: .8em;
        text-decoration: underline;
    }
    .contacto__info p{
        margin: var(--spacing-medium);
        font-size: .5em;
    }
        /*productos*/
    .productos{
        display: block;
        
    }
     /*tester*/
     .shoetester{
        display: flex;
        flex-direction: column;
        
    }
    .tester{
        display: block;
    }
    .tester__h2{
        font-size: var(--text-small);
    }
         
    .tester__content p{
        display: none;
    }
    iframe{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 480px) {
    /*footer*/
    .footer{
        height: 25rem;
        flex-direction: column;

        
    }
    .footer__nav{
               
        font-size: var(--text-small);

    }
    .footer__social {
        display: flex;
        flex-direction: row;
        
    }

    /*index*/
    .principal{
        background-color: var(--color-primary);
    }
    
    .saludo__title{
        font-size: var(--text-base);
    }
    .saludo__content{
        font-size: var(--text-small);
    }
    .index__tester img{
        width:20rem;
        height: 15rem;
        
    }
    .index__tester__art__title{
        font-size: var(--text-xsmall);

    }
    /*contacto*/ 
    .contacto{
        display:flex;
        flex-direction: column;
        justify-content: space-around;       
        padding: var(--spacing-medium);
        
    }
    .contacto article{
        margin-top: var(--spacing-small);
    }    
    .contacto__info h3{
        margin: var(--spacing-medium);
        color: var(--color-base);
        text-decoration: underline;
    }
    .contacto__info p{
        margin: var(--spacing-medium);
        
    }
    

    /*productos*/
    .calzado_img{
        margin-left: .5rem;
        max-width: 25rem;
    }
    li img{
        width: 25rem;
        height: 22rem;
    }

    /*preguntas*/
    .preguntas{
        display: grid;
        grid-template-areas: 
         "titulo titulo "
         "compra compra "
         "pagos envio "
         "cambios cambios " 
         "talles talles "
    }
    .talles{
        display: flex;
        overflow: auto;
        gap: 2rem;
        margin:auto;
        max-width: 25rem;
    }
    .tabla{
        height: 25rem ;
        width: 23rem;
    }

}
   /*Keyframes*/

   @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }

  @keyframes fade-in-bottom {
    0% {
      transform: translateY(90px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
 @keyframes traslate {
    0% {
        padding-left: 0%;
    }     
    100%{
        padding-left: 100%;
    }
 }