/*inicio-footer*/
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 15rem;
    background-color: map-get($colors, color-section);
    
    &__nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    }   
    
   
    &__nav li:hover{
        text-decoration : 2px underline #F4772A;
    }
    &__marca{
        width: 20%;
    }
    &__social {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: none;

        & a{
            padding: $spacing-small;         
        } 
    }   
}
.link-footer{    
        color: map-get($colors, color-text);
        font-size: map-get($text-size, text-base);
        text-decoration:none;
        transition: all .2s; }

.copyright{
    height: 1.2rem;
    background-color: map-get($colors, color-section);
    color: map-get($colors, color-primary);
    font-family: $font-secondary;
    animation: traslate 30s infinite linear  0s ;
    overflow: hidden;
    
}
/*final-footer*/
@media screen and (max-width: 480px) {
     /*footer*/
    .footer{
        height: 25rem;
        flex-direction: column;
    
        &__nav{
            font-size: map-get($text-size, text-xsmall);
        }
        &__social{
            display: flex;
            flex-direction: row;
        }   
    }
    
}        
  
