/*header nav{*/
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__logo{
        width: 20%;
        margin: 1rem 5rem;
        }
    }
    .navbar{    
        background-image: url(../multimedia/fondo_header1.svg);
        opacity: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
              
    }
        
    .navbar-toggler-icon{
        height: 3rem;
        width: 4rem;
        margin-right: 3rem;
        background-image: url(../multimedia/menu-burger-icon.svg);
        /*background-image: linear-gradient(
            100deg,
            hsl(4deg 85% 57%) 0%,
            hsl(9deg 88% 58%) 11%,
            hsl(14deg 90% 58%) 22%,
            hsl(18deg 92% 58%) 33%,
            hsl(21deg 93% 58%) 44%,
            hsl(25deg 94% 58%) 56%,
            hsl(28deg 95% 59%) 67%,
            hsl(31deg 96% 60%) 78%,
            hsl(33deg 96% 61%) 89%,
            hsl(36deg 96% 62%) 100%
          );*/
    }
    #offcanvasNavbar{
        background-color: $color-article
    }
    .offcanvas-title{
        color: $color-secondary;
        text-decoration: none;
        font-size: $text-medium;
        line-height: 0.5rem;
    }
    
    .offcanvas-header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }
    .btn-close{
        margin: 0 auto;
    }
    .menu__li a{
        font-size: $text-medium;
        color: $color-primary;
    }   
    
    .social img{
    
        width: 30%;
        height: 30%;
        padding: $spacing-medium;
    }
    
    
    /*fin-header*/

    
    @media screen and (max-width: 480px) {
        /*header*/
        .navbar-toggler-icon{
            height: 1.5rem;
            width: 2rem;
            margin-right: 1.5rem;
            
        }
    }