/*header nav{*/
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__logo{
        width: 10%;
        margin: .5rem 5rem;
        }
    }
    .navbar{    
        background-image: url(../multimedia/fondo_header.jpg);
        opacity: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        &-toggler{
            margin-right: $spacing-large;
            &-icon{
                height: 3rem;
                width: 4rem;
                background-image: url(../multimedia/menu-burger-icon.svg);
            }
        }      
    }
        
    
    #offcanvasNavbar{
        background-color: map-get($colors, color-article)
    }
    .offcanvas-title{
        color: map-get($colors, color-secondary);
        text-decoration: none;
        font-size: map-get($text-size, text-medium);
        line-height: 0.5rem;
    }
    
    .offcanvas-header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }
    .btn-close{
        margin: 0 auto;
    }
    .menu__li a{
        font-size: map-get($text-size, text-medium);
        color: map-get($colors, color-primary);
    }   
    
    .social img{
    
        width: 30%;
        height: 30%;
        padding: $spacing-medium;
    }
    
    
    /*fin-header*/

    
    @media screen and (max-width: 480px) {
        /*header*/
        .navbar-toggler-icon{
            height: 1.5rem;
            width: 2rem;
            margin-right: 1.5rem;
            
        }
    }