/*style-index*/
.principal__index{
    display: grid;
    grid-template-areas:
     "saludo saludo"
     "productos tester"
     "stars stars";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 4fr 1fr;
    column-gap: $spacing-large;
    row-gap: $spacing-medium;
    padding: $spacing-small;
    
    
    
}
.saludo{
    grid-area: saludo;
    background-color: map-get($colors, color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:$spacing-small;
    /*border-radius: 12px;
    border: map-get($colors, color-text) 2pt solid*/
    @extend article;
    &__title{
    color: map-get($colors, color-primary);
    }
    &__content{
    font-size: map-get($text-size, text-medium);
    color: map-get($colors, color-primary);
    }
}
.index{
    &__title a{
        font-size: map-get($text-size, text-base);
        color: map-get($colors, color-text);        
    }
    &__productos{
        grid-area: productos;
        background-color: map-get($colors, color-article);
        padding: $spacing-xsmall;
        @extend article;
        & img{
            width: 15rem;
            margin-right: $spacing-xsmall;
            padding: .5rem 2rem;            
        }
        &__art{
            background-color: map-get($colors, color-secondary) ;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: $spacing-xsmall;
            margin-bottom: $spacing-xsmall;     
        
            &__title{
                font-size: map-get($text-size, text-base);
                color: map-get($colors, color-primary);
                margin: 0 auto;  
            }
        }    

    }
    &__tester{
        grid-area: tester;
        background-color: map-get($colors, color-article);
        padding: $spacing-xsmall;
        @extend article;
    
        & img{
            width: 25rem;
            height: 20rem;
            margin-right: $spacing-xsmall;
        }

        &__art{
            background-color: map-get($colors, color-secondary) ;
            display: flex;
            flex-direction: row;
            align-items: center;
            @include spacing( 10px, $spacing-xsmall,);
            &__title{
                font-size: map-get($text-size, text-base);
                color: map-get($colors, color-primary);
            }
        }
   
    
    }
}
.stars{
    grid-area: stars;
    background-color: map-get($colors, color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: $spacing-xsmall;
    @extend article;

    & h2{
        font-size: map-get($text-size, text-small);
    }
    &__img{
        height: 8rem;
    }    
}
/*final-index*/

@media screen and (max-width: 1024px) {
     /*index*/
    .index{
        &__productos__art{
        flex-direction: row;
        justify-content: space-evenly;
        } 
        &__productos .button{
            display: none;
        } 
        &__tester .button{
        display: none;
        }
    }
    .stars__img{
        height: 6rem;
    }
}

@media screen and (max-width: 768px) {
   
  
  
    /*index*/

    .principal__index{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        padding: $spacing-small;
    }
  
    
    .button{
        float: none;
    }
    .stars{
       display:none; 

    }
}

@media screen and (max-width: 480px) {
    /*index*/
    .principal{
        background-color: map-get($colors, color-primary);
    }
    
    .saludo{
        &__title{
        font-size: map-get($text-size, text-base);
        }
        &__content{
            font-size: map-get($text-size, text-small);
        }
    }    
    .index__tester{
        & img{
            width:20rem;
            height: 15rem;
        }
        &__art{
            display: flex;
            flex-direction: column;
            
        }
        &__art__title{
        font-size: map-get($text-size, text-xsmall);
        padding-top: $spacing-xsmall;
        }
    }    
}    