/*estilo-tester*/
.shoetester{
    display: grid;
    grid-template-columns: 1fr 1fr;
    --bs-gutter-x: 0;
    animation: fade-in-bottom 1s 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      
}
.tester{
    width: 95%;
    display: flex;
    flex-direction: row;    
    @include spacing($spacing-xsmall, $spacing-xsmall);
    background-color: map-get($colors, color-secondary);
    

    &__content{
        padding: $spacing-small;
        line-height : 1.7;
        color: map-get($colors, color-primary);
        font-size: map-get($text-size, text-small);
        border: none;
    
        & h2{
        text-decoration-line: underline;
        font-weight: bolder;
        }    
    }
}
.card{
    background-color: map-get($colors, color-secondary);

}  
/*final-estilo-tester*/

@media screen and (max-width: 768px) {
.shoetester{
    display: flex;
    flex-direction: column;
    
}
.tester{
    display: block;

    &__h2{
        font-size: map-get($text-size, text-small);
    }
    
    &__content p{
        display: none;
    }
} 
iframe{
    width: 100%;
    height: 100%;
}
}