 /*Keyframes*/
/*h1*/
 @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
/*sections & articles*/
  @keyframes fade-in-bottom {
    0% {
      transform: translateY(90px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /*copyright*/
 @keyframes traslate {
    0% {
        padding-left: 0%;
    }     
    100%{
        padding-left: 100%;
    }
 }
/*productos.scss*/
 @keyframes fade-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/*Inicio.scss*/
@keyframes slider{
  0%{
      transform: translateX(0);
  }
  100%{
    transform: translateX(-256%);
} 
}
@keyframes slider1024px{
  0%{
      transform: translateX(0);
  }
  100%{
    transform: translateX(-340%);
  } 
}
@keyframes slider768px{
  0%{
      transform: translateX(0);
  }
  100%{
    transform: translateX(-246%);
  } 
}